code/Slice of Pie/Client/Service References/WcfServiceReference/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Documentrevisions" nillable="true" type="tns:ArrayOfDocumentrevision" />
          <xs:element minOccurs="0" name="Documents" nillable="true" type="tns:ArrayOfDocument" />
          <xs:element minOccurs="0" name="Folder" nillable="true" type="tns:Folder" />
          <xs:element minOccurs="0" name="FolderReference" nillable="true" type="q1:EntityReferenceOfFolderrvh1PiYS" />
          <xs:element minOccurs="0" name="Userdocuments" nillable="true" type="tns:ArrayOfUserdocument" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rootFolderId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfDocumentrevision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documentrevision" nillable="true" type="tns:Documentrevision" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentrevision" nillable="true" type="tns:ArrayOfDocumentrevision" />
  <xs:complexType name="Documentrevision">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Document" nillable="true" type="tns:Document" />
          <xs:element minOccurs="0" name="DocumentReference" nillable="true" type="q2:EntityReferenceOfDocumentrvh1PiYS" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q2:EntityReferenceOfUserrvh1PiYS" />
          <xs:element minOccurs="0" name="creationTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="documentId" type="xs:int" />
          <xs:element minOccurs="0" name="editorId" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Documentrevision" nillable="true" type="tns:Documentrevision" />
  <xs:complexType name="Document">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Documentrevisions" nillable="true" type="tns:ArrayOfDocumentrevision" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q3:EntityReferenceOfUserrvh1PiYS" />
          <xs:element minOccurs="0" name="Userdocuments" nillable="true" type="tns:ArrayOfUserdocument" />
          <xs:element minOccurs="0" name="creationTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="creatorId" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="ArrayOfUserdocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Userdocument" nillable="true" type="tns:Userdocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserdocument" nillable="true" type="tns:ArrayOfUserdocument" />
  <xs:complexType name="Userdocument">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Document" nillable="true" type="tns:Document" />
          <xs:element minOccurs="0" name="DocumentReference" nillable="true" type="q4:EntityReferenceOfDocumentrvh1PiYS" />
          <xs:element minOccurs="0" name="Folder" nillable="true" type="tns:Folder" />
          <xs:element minOccurs="0" name="FolderReference" nillable="true" type="q4:EntityReferenceOfFolderrvh1PiYS" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q4:EntityReferenceOfUserrvh1PiYS" />
          <xs:element minOccurs="0" name="documentId" type="xs:int" />
          <xs:element minOccurs="0" name="folderId" type="xs:int" />
          <xs:element minOccurs="0" name="userId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Userdocument" nillable="true" type="tns:Userdocument" />
  <xs:complexType name="Folder">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Folder1" nillable="true" type="tns:ArrayOfFolder" />
          <xs:element minOccurs="0" name="Folder2" nillable="true" type="tns:Folder" />
          <xs:element minOccurs="0" name="Folder2Reference" nillable="true" type="q5:EntityReferenceOfFolderrvh1PiYS" />
          <xs:element minOccurs="0" name="Userdocuments" nillable="true" type="tns:ArrayOfUserdocument" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentFolderId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Folder" nillable="true" type="tns:Folder" />
  <xs:complexType name="ArrayOfFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="tns:Folder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolder" nillable="true" type="tns:ArrayOfFolder" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
</xs:schema>